body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

.contenedorMain {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
}   

.caja {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.cajaGanador {
    
}