body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;    
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightblue; 
    padding: 20px;
}

div {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

input[type="text"] {
    height: 25px;
    width: 40%;
    margin-right: 10%;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
}

input[type="submit"] {
    margin-top: 1em;
    margin-left: 43%;
    background-color: lightcyan;
    border: 1px solid black;
    cursor: pointer;
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: lightskyblue;
}

p {
    margin-left: 15%;
}